{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block body %}

<section id="signup">
    <h1>Login...</h1>
    <div class="form__box">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="input1" name="uname" placeholder="name@example.com" required>
                
            </div>
            <div>
                <label for="pass1">Enter Password:</label>
                <input type="password" id="input2" name="upass" placeholder="Enter password" required>
            </div>
            <div class="btn-submit-form">
               <button type="submit">Submit</button>
            </div>
            <div>
                <p>New User?<a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
    
    </section>

    <br><br><br><br><br><br>
{% endblock %}
